# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
dist-ssr/
*.tsbuildinfo

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Vercel / Netlify
.vercel
.netlify

# Logs
logs
*.log
